
@model LiteCommerce.DomainModels.ProductEx

@{ ViewBag.Title = "Cập nhật thông tin mặt hàng";

}

<fieldset>
    <legend>Thông Tin Mặt Hàng</legend>
    <form method="post" action="~/Product/Save">
        


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <img src="@Model.Photo" style="width: 20%; height: auto;" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-5">
                    <label>Tên hàng: </label>
                    @Model.ProductName

                </div>

                <div class="col-md-3">

                    <label>Đơn vị tính: </label>
                    @Model.Unit

                </div>

                <div class="col-md-5">
                    <div class="from-group">
                        <label>Giá hàng: </label>
                        @Model.Price
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="from-group">
                        <label>Mã hàng: </label>
                        @Model.SupplierID
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="from-group">
                        <label>Mã nhà cung cấp: </label>
                        @Model.CategoryID
                    </div>
                </div>
            </div>


        </div>

        <br />
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6 text-right">

                <a href="~/Product/Editproduct/@Model.ProductID" class="btn btn-xs btn-info">
                    <i class="fa fa-edit"></i> Chỉnh sữa
                </a>
            </div>
        </div>
    </form>

</fieldset>

<br />

<fieldset>
    <legend>Danh Sách Các Thuộc Tính</legend>
    <div class="row">
        <div class="col-md-5">
            <label>Thuộc tinh Attributes</label>

            <form action="~/Product/DeleteAttrbutes/@Model.ProductID" method="post">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Tên thuộc tính</th>
                            <th>Giá trị thuộc tính</th>
                            <th>Hiển thị</th>

                            <th class="text-right">
                                <a href="~/Product/Addattributes" class="btn btn-xs btn-primary">
                                    <i class="fa fa-plus"></i> Thêm
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Attributes)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" name="attributeIds" value="@item.AttributeID" />
                                    <a href="#">@item.AttributeName</a>
                                </td>
                                <td>@item.AttributeValue</td>
                                <td>@item.DisplayOrder</td>

                                <td class="text-right">
                                    <a href="~/Product/Editattributes/@item.AttributeID" class="btn btn-xs btn-info">
                                        <i class="fa fa-edit"></i> Chỉnh sữa
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>



                <div class="row">
                    <div class="col-md-12 text-right">
                        <button onclick="onclickMe()" type="submit" class="btn btn-xs btn-danger">
                            <i class="fa fa-remove"></i> Xóa
                        </button>
                    </div>
                </div>

            </form>
        </div>

        <div class="col-md-7">

            <label>Thuộc tinh Gallries</label>

            <form action="~/Product/DeleteGaller/@Model.ProductID" method="post">

                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Ảnh</th>
                            <th>Miêu tả</th>
                            <th>Hiển thị</th>
                            <th>Giá trị</th>
                            <th class="text-right">
                                <a href="~/Product/Addgalleries" class="btn btn-xs btn-primary">
                                    <i class="fa fa-plus"></i> Thêm
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Galleries)
                        {

                            <tr>
                                <td>
                                    <input type="checkbox" name="galleryIds" value="@item.GalleryID" />
                                    <img src="@item.Photo" style="width: 6%; height: auto;" />
                                </td>
                                <td>@item.Description</td>
                                <td>@item.DisplayOrder</td>
                                <td>@item.IsHidden</td>

                                <td class="text-right">
                                    <a href="~/Product/EditGaller/@item.GalleryID" class="btn btn-xs btn-info">
                                        <i class="fa fa-edit"></i> Chỉnh sữa
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class=" row">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-xs btn-danger">
                            <i class="fa fa-remove"></i> Xóa
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>Danh sách ảnh</legend>
    <form>
    </form>
</fieldset>

<div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6 text-right">
       

        <a href="~/Product/Index" class="btn btn-warning">
            <i class="fa fa-window-close"></i> Bỏ qua
        </a>
    </div>
</div>

<script>
    function onclickMe() {
        var result = confirm("Bạn có muốn xóa bản ghi này?");
        if (result == true) 
            confirm("Đã Xóa");
        
    }
        
</script>



@*<form method="post" action="~/Product/Save">
        <div class="form-group">
            <label>Tên mặt hàng:</label>
            <input type="text" class="form-control" name="ProductName" id="ProductName" autofocus>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Mã nhà cung cấp:</label>
                    <input type="text" class="form-control" name="SupplierID" id="SupplierID">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Mã loại hàng:</label>
                    <input type="text" class="form-control" name="CategoryID" id="CategoryID">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Đơn vị:</label>
                    <input type="text" class="form-control" name="Unit" id="Unit">
                </div>
                <div class="form-group">
                    <label>Giá:</label>
                    <input type="text" class="form-control" name="Price" id="Price">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Ảnh:</label>
                    <input type="text" class="form-control" name="Photo" id="Photo">
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> Lưu dữ liệu
                </button>
            </div>
            <div class="col-md-6 text-right">
                <a href="~/Product/Index" class="btn btn-warning">
                    <i class="fa fa-window-close"></i> Bỏ qua
                </a>
            </div>
        </div>
    </form>*@